  .container{
    width: 100%;
  }

  .table-bordered{
    border-radius: 3px;
    border-color: #696969;
  }

  .dark-btn{
    background-color: #f1f1f1;
    border-color: #696969; 
  }

  .dark-btn:hover{
    background-color: #696969 !important;
    border-color: #696969 !important;
    color: #e9e9e9 !important;
  }

  table tr:last-child td:first-child {
      border-bottom-left-radius: 3px;
  }

  table tr:last-child td:last-child {
      border-bottom-right-radius: 3px;
  }

  thead{
    width: 100%;
    display: inline-table;
    background-color: #e9e7e7;
    border-color: #696969;
    color: rgb(71, 71, 71);
  }

  .thead{
    width: 100%;

    background-color: #e9e7e7;
    border-color: #696969;
    color: rgb(71, 71, 71);
  }

  tbody{
    width: 100%;
    display: inline-table;
    border-color: #696969;
  }

  .center { 
    text-align: center; 
  }

  .pagination>li>a {
    background-color: #f1f1f1 !important;
    color: #000 !important;
    border-color: #696969 !important;
  }
  .pagination>li.active>a {
    background-color: #696969 !important;
    border-color: #696969 !important;
    color: #e9e9e9 !important;
  }

  .pagination>ul{
    border-color: #696969 !important;
    border-width: 1px;
  }

  .pagination>li:hover>a {
    background-color: #696969 !important;
    border-color: #696969 !important;
    color: #e9e9e9 !important;
  }

  .topmenu {
    background-color: #e9e7e7;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: #696969;
    padding: 13px 0;
  }

  .topmenu>a{
    text-align: center;
    border: 4px solid #e9e7e7;
    border-radius: 3px;
    padding: 10px 10px 10px;
    margin: 10px 0; 
    color: rgb(71, 71, 71);
  }

  .topmenu>a:hover{
    border: 4px solid #696969;
    border-radius: 0px;
    background-color: #696969;
    color: #e9e9e9;
    text-decoration: none;
  }

  .dropdown{
    background-color: #fff;
    border-radius: .25rem;
    border-style: solid;
    border-width: 0.005px;
    border-color: #ced4da;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #49558b
  }

  .dropdown:hover{
    border-radius: .25rem;
    border-style: solid;
    border-width: 1px;
    border-color: #ced4da;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: 0px none #fff; 
    background-color: #fff;
    box-shadow: none;
  }

  .dropdown-toggle:hover{
    background-color: #fff !important;
    border-color: #ffffff00;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-width: 1px;
  }


  .dropdown-toggle.btn-light:focus{
    outline-color: transparent !important;
    outline-width: 0px; 
    outline: none  !important;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
  }

  .btn-light.dropdown-toggle {
    color: #495057;
  }
  .show>.btn-light.dropdown-toggle {
    color: #495057;
    outline-color: transparent !important;
    outline: none  !important;
    background-color: transparent;
    border-color: #ffffff00;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-width: 1px;
}

  